<div class="form-div">
  <h3>Create your player!</h3>
  <mat-form-field color="primary"
                  appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>

  <br>

  <mat-form-field color="primary"
                  appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>

  <br>

  <mat-form-field color="primary"
                  appearance="outline">
    <mat-label>Height (ft)</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <mat-form-field color="primary"
                  appearance="outline"
                  class="inches-input">
    <mat-label>Height (in)</mat-label>
    <input matInput type="number">
  </mat-form-field>

  <br>

  <mat-form-field color="primary"
                  appearance="outline">
    <mat-label>Weight (lbs)</mat-label>
    <input matInput type="number">
  </mat-form-field>

</div>