<mat-toolbar color="primary">
  <span class="header">TBBBALL (Text Based Basketball) &#127936;</span>
  <button mat-stroked-button 
          (click)="openDialog()" 
          color="accent"
          class="about-button">
    About
  </button>
</mat-toolbar>

<mat-sidenav-container (load)="openDialog()">
  <mat-sidenav #sidenav closed mode="push" autoFocus=false>
    Begin
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <button mat-fab color="primary" 
              class="menu-button" 
              (click)="sidenav.toggle()"
              aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-raised-button color="accent"
              class="start-button">
        START Player Creation
      </button>
    </div>
    
    <p class="homepage-text">
      Welcome to Text Based Basketball!
    </p>

  </mat-sidenav-content>
</mat-sidenav-container>