mat-sidenav-container {
    height: 100%;
    width: 100%;
    margin: 0;
}

.header {
    font-size: 2.5vh;
}

.menu-button {
    font-size: 2vh;
    margin: 1em;
}

.about-button {
    font-size: 2vh;
    margin: 1em;
}

.start-button {
    font-size: 2vh;
    margin: 1em;
}

.homepage-text {
    font-size: 5vh;
    height: 50%;
    width: 50%;
    margin: 1em;
}