mat-sidenav-container {
    height: 100%;
    width: 100%;
    margin: 0;
}

.header {
    font-size: 2.5vh;
    margin-left: 5vw;
}

#button-div {
    text-align: center;
}

.menu-button {
    font-size: 2vh;
    margin: 1em;
    margin-left: 5vw;
}

.about-button {
    font-size: 2vh;
    margin: 1em;
    margin-left: auto;
}

#start-button {
    font-size: 2vh;
    margin: 1em;
}

#homepage-text {
    font-size: 5vh;
    width: 100%;
    margin: 1em;
    text-align: center;
}